[Unit]
Description=Media component

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=SCREENCRASH_CORE={{ core_addr }}
Environment=SCREENCRASH_FULLSCREEN=true
Environment=SCREENCRASH_COMPONENT_ID=rpi_screen
ExecStart=/usr/bin/npm start
WorkingDirectory=/opt/screencrash/media
User={{ username }}

[Install]
WantedBy=multi-user.target