<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel = "stylesheet" type = "text/css" href = "css/main.css"/>
        <title>Screencrash [Media]</title>
    </head>
    <body>
        <div id = "disconnected">
            [DISCONNECTED]
            <div class = "disconnected_info">
                Trying to connect to <span id = "disconnected_addr">[addr]</span>
            </div>
            <div class = "disconnected_info">
                My IP address is <span id = "disconnected_local_addr">[addr]</span>
            </div>
        </div>

        <!-- Content will be automatically added by scripts here -->

        <script src="./renderer.js"></script>
    </body>
</html>
